nav {
    border-bottom: 0.1em rgba(128, 128, 128, 0.723) groove;
}

main {
    overflow-x: hidden;

}

.image_section  {
display: flex;
flex-direction: row;
border-bottom: 0.1em rgba(128, 128, 128, 0.723) groove;
padding-bottom: 40px;

  }

  .info_section {
    margin-left: 30px;
     
   }

  @media screen and (max-width: 568px) {
    .image_section{
        flex-wrap: wrap;
    }

    .info_section {
      padding-inline-start: 0px;
      margin-left: 0px;
      }
  }

  



.slider_ul {

    display: flex;
    padding: 0;
    animation: cambio 70s infinite linear;
}

@keyframes cambio {
    from {margin-left: 0%}
    to {margin-left: -100%}
}


.moving_images {
position: relative;
    width: 120px;
    height: auto;
}
 


.outlet {

    height: '250px';
    background-color: 'white';
    border-top: 0.1em grey groove;
}

.trending_list {

    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 20px;
  
}

.form {
    display: flex;
align-items: center;
}

.search_input {
height: 30px;
width: 260px;
font-size: 20px;
}

.submit_button {
    margin-left: 20px;
    height: 36px;
    width: 150px;
    font-size: 20px;
    border:0.1em solid #2018185a;
font-weight: 800;
    border-radius:0.12em;
    background-color: #2018185a;
    transition: all 0.2s;
color: #0b0303;
cursor: pointer;
box-sizing: border-box
}

.submit_button:hover {
    color:#000000;
background-color:#01b4e4;
border:0.07em solid #160a0aac;
}

.search_list {
gap: 8px;
   list-style: none;
        display: 'flex';
        flex-direction: 'column';
    font-size: 20px;
}

.list_links:hover {
    color:#01b4e4;

}